body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: rgb(184, 228, 201);
	width: 50%;
	margin: 0 auto;
}

h3{
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover{
	color: rgb(184, 228, 201);
}

.formPage{
	background-color: #fff;
	padding: 15px;
	border: 1px solid #000;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border-top: 5px solid;
}

.bottomSection{
	text-align: center;
}

.quantity{
	width:50px;
}

.create{
	text-align: center;
}

ul{
	list-style-type: none;
}