<div class = "formPage create">
<h3>Add a New Grocery List</h3>

<div class = "bottomSection">
<form method="POST" action="">
List Name: <input type="text" name="list">
</br></br>
Created By: <input type="text" name="creator">
</br></br>
<input type="submit">
</form>
</div>
</br>

<a href="/../list">Cancel</a>
</div>