<div class = "formPage">
<h3>Grocery Lists</h3>
<ul>
{{#each list}}
<li>> <a href="/list/{{slug}}">{{name}}</a></li>
{{/each}}
</ul>

<div class="create">
<a href="list">All Lists</a> | <a href="list/create">Create a New List</a>
</div></div>